.login {
    width: 350px; margin: 100px auto; padding: 16px 16px 12px;
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    font-family: 'Noto Sans KR'
}
.login p {font-size: 0.75rem;}
.login > a {
    width: 316px; margin: 16px 0 12px; padding: 15px 0;
    display: block; text-align: center;
    background-color: #19ce60; color: #fff;
    font-size: 1.063rem; font-weight: 700;
}
.login .bottom {
    display: flex; justify-content: space-between;
}
.login .bottom .left {}
.login .bottom .left a {font-size: 0.75rem;}
.login .bottom .right {}
.login .bottom .right a {font-size: 0.75rem;}